* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #fcfcfc;
}
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
#app {
  width: 100%;
  margin: auto;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.g-width {
  width: 100%;
  margin: auto;
}
.g-box-shadow {
  -moz-box-shadow: 0px 1px 5px #333333;
  -webkit-box-shadow: 0px 1px 5px #333333;
  box-shadow: 0px 1px 5px #333333;
}
.g-header {
  position: fixed;
  width: 100%;
  margin-bottom: 1em;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  z-index: 100000;
}
.sub-header-div {
  margin-top: 5em;
}
.breadcrumb-font {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 20px Extra large;
}
.div-search {
  display: flex;
}
.btn-search {
  margin-left: .1em !important;
}
.g-me {
  padding: .5em;
}
.g-line {
  width: 80%;
  height: 1px;
  margin: auto;
  background-color: #d9e1e9;
}
.left-side-align {
  width: 50%;
  margin: auto;
  text-align: left;
}
.g-home-main {
  min-height: 50em;
  padding-top: 0 !important;
}
.g-footer {
  min-height: 10em;
  margin-top: 1em;
}
.g-home-left-col {
  margin-left: 4.16667%;
}
.g-home-right-col {
  margin-right: 4.16667%;
}
.g-div {
  background-color: #FFFFFF;
}
.g-padding-tb {
  padding-top: .5em;
  padding-bottom: .5em;
}
.g-paddingtop-header,
.g-paddingtop-header-col,
.g-paddingTophalf {
  padding-top: .5em;
}
.g-margintop-aside {
  margin-top: 2em;
}
.g-align-left {
  text-align: left;
}
.el-menu-item {
  width: 90%;
  padding: 0 !important;
  margin: 0 !important;
}
